
body {
}

.main-container {
    
}

.content-column {
    background-color: red;
}

.sidebar-column {
    background-color: green;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}