<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.github.url }}/assets/lib/bootswatch-superhero/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css" />
	<link rel="icon" type="image/png" href="{{ site.github.url }}/assets/images/favicon.png"/>
</head>
<body>
	<!--<div class="navbar navbar-default navbar-fixed-top">
	</div>-->
	<div class="container">
		<h3>{{ page.title }}</h3>
		<div>
			<span class="blog-date">{{ page.date }}</span>
			{% for category in {{ page.categories }} %}
				<span class="blog-category">{{ category }}</span>
			{% endfor %}
		</div>
	</div>
	<hr />
	<div class="container main-container">
		<div class="row">
			<div class="content-column col-lg-8 col-md-3 col-sm-4 ">
				{{ content }}
			</div>
			<div class="sidebar-column col-lg-3 col-lg-offset-1">
				<div>
					{% comment %}
					=======================
					The following part extracts all the categories from your posts and sort categories, so that you do not need to manually collect your categories to a place.
					=======================
					{% endcomment %}
					{% assign rawcategories = "" %}
					{% for post in site.posts %}
						{% assign tcategories = post.categories | join:'|' | append:'|' %}
						{% assign rawcategories = rawcategories | append:tcategories %}
					{% endfor %}
					{% assign rawcategories = rawcategories | split:'|' | sort %}

					{% comment %}
					=======================
					The following part removes dulpicated categories and invalid categories like blank category.
					=======================
					{% endcomment %}
					{% assign categories = "" %}
					{% for category in rawcategories %}
						{% if category != "" %}
							{% if categories == "" %}
								{% assign categories = category | split:'|' %}
							{% endif %}
							{% unless categories contains category %}
								{% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
							{% endunless %}
						{% endif %}
					{% endfor %}
					{% comment %}
					=======================
					The purpose of this snippet is to list all the categories you have in your site.
					=======================
					{% endcomment %}
					<h4>Categories</h4>
					<ul>
					{% for category in categories %}
						<li><a href="{{ site.github.url }}/utilities/category-{{ category | slugify: 'pretty' }}"> {{ category }} </a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ site.github.url }}/assets/lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="{{ site.github.url }}/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>